[General]
Colors         = [#4c0257, #cab2d6, #4daf4a, #377eb8,   15, #e41a1c, 3, 4, 5]
###	         [ signal,  violet,   green,    blue, gray,     red]
LumiString     = 35.9 fb^{-1} (14 TeV)
DrawLogo       = false
WriteExtraText = true
StackSignal    = true
MaxRatio       = 1.15

[all/hall_trilep_Zepp]
binning    =  [12, 0.5]
sortSToL   = false
xTitle	   = Zeppenfeld(3l) [GeV]

[all/hall_vbsjet_Mass]
binning    = [8,250]
sortSToL   = false
lowValue   = 500
xTitle	   = DiJet-Mass [GeV]
yTitle	   = Events / 250 GeV

[all/hall_vbsjet_DEta]
binning    = [10,0.5]
sortSToL   = false
xTitle	   = #Delta#eta(j_{1}, j_{2}) 
lowValue   = 2.5


[all/hall_leadjet_Pt]
binning    =  [8,50]
lowValue   =  30
sortSToL   = false
xTitle	   = Leading jet p_{T} [GeV]
yTitle	   = Events / 50 GeV


[all/hall_met]
binning    =[10,20]
sortSToL   = false
xTitle	   = #slash{E}_{T} [GeV]
yTitle	   = Events / 20 GeV
lowValue   = 30