[General]
Colors         = [2,      12,      8,     40,   13,   426]
###	         [red,  gray,  green, violet,  gray, green]
LumiString     = 39.5 fb^{-1} (14 TeV)
DrawLogo       = false
WriteExtraText = true
StackSignal    = true

[hall_trilep_Mass]
binning    =  [14, 30]
sortSToL   = false
lowValue   = 100
xTitle	   = M_{3l} [GeV]
yTitle	   = Events / 30 GeV

[hall_Z_Mass]
binning    =[15,2]
sortSToL   = false
lowValue   = 76
xTitle	   = M_{l^{+}l^{-}} [GeV]
yTitle	   = Events / 2 GeV

[hall_vbsjet_Mass]
binning    = [25,100]
sortSToL   = false
lowValue   = 0
xTitle	   = DiJet-Mass [GeV]
yTitle	   = Events / 100 GeV

[hall_vbsjet_DEta]
binning    = [-1,0.25]
sortSToL   = false
xTitle	   = #Delta#eta(j_{1}, j_{2}) 



# [hall_leadjet_Pt]
# binning    =  [-1,40]
# lowValue   =  30
# sortSToL   = false

# [hall_leadjet_Eta]
# binning    =  [-1,1]
# sortSToL   = false


# [hall_met]
# binning    =[-1,20]
# sortSToL   = false


