[General]
#Colors         = [#4c0257, #cab2d6, #4daf4a, #377eb8,   15, #e41a1c]
Colors         = [3,4,5, 14,15,16]
###	         [ signal,  violet,   green,    blue, gray,     red]
LumiString     = 39.5 fb^{-1} (14 TeV)
DrawLogo       = false
WriteExtraText = true
StackSignal    = false
MaxRatio       = 1.15

[all/hjets_trilep_Mass]
binning    =  [14, 30]
sortSToL   = false
lowValue   = 100
xTitle	   = M_{3l} [GeV]
yTitle	   = Events / 30 GeV

[all/hjets_Z_Mass]
binning    =[15,2]
sortSToL   = false
lowValue   = 76
xTitle	   = M_{l^{+}l^{-}} [GeV]
yTitle	   = Events / 2 GeV

[all/hjets_vbsjet_Mass]
binning    = [25,100]
sortSToL   = false
lowValue   = 0
xTitle	   = DiJet-Mass [GeV]
yTitle	   = Events / 100 GeV

[all/hjets_vbsjet_DEta]
binning    = [-1,0.25]
sortSToL   = false
xTitle	   = #Delta#eta(j_{1}, j_{2}) 

[all/hjets_jet_N]
binning    =  [-1, 1]
sortSToL   = false
lowValue   = 0
xTitle	   = N(j)

[all/hjets_jet_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(j)
yTitle	   = Events / 20 GeV

[all/hjets_jet_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(j)
yTitle	   = Events 

[all/hjets_leadjet_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(j_{lead})
yTitle	   = Events / 20 GeV

[all/hjets_leadjet_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(j_{lead})
yTitle	   = Events 


[all/hjets_lep_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(l)
yTitle	   = Events / 20 GeV

[all/hjets_lep_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(l)
yTitle	   = Events 

[all/hjets_leadlep_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(l)
yTitle	   = Events / 20 GeV

[all/hjets_leadlep_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(l)
yTitle	   = Events 

[all/hjets_trilep_Zepp]
binning    =  [-1, 0.1]
sortSToL   = false
xTitle	   = Zeppenfeld(3l) [GeV]


###################################
###################################
###################################

[all/hall_trilep_Mass]
binning    =  [14, 30]
sortSToL   = false
lowValue   = 100
xTitle	   = M_{3l} [GeV]
yTitle	   = Events / 30 GeV

[all/hall_Z_Mass]
binning    =[15,2]
sortSToL   = false
lowValue   = 76
xTitle	   = M_{l^{+}l^{-}} [GeV]
yTitle	   = Events / 2 GeV

[all/hall_vbsjet_Mass]
binning    = [25,100]
sortSToL   = false
lowValue   = 0
xTitle	   = DiJet-Mass [GeV]
yTitle	   = Events / 100 GeV

[all/hall_vbsjet_DEta]
binning    = [-1,0.25]
sortSToL   = false
xTitle	   = #Delta#eta(j_{1}, j_{2}) 

[all/hall_jet_N]
binning    =  [-1, 1]
sortSToL   = false
lowValue   = 0
xTitle	   = N(j)

[all/hall_jet_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(j)
yTitle	   = Events / 20 GeV

[all/hall_jet_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(j)
yTitle	   = Events 

[all/hall_leadjet_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(j_{lead})
yTitle	   = Events / 20 GeV

[all/hall_leadjet_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(j_{lead})
yTitle	   = Events 


[all/hall_lep_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(l)
yTitle	   = Events / 20 GeV

[all/hall_lep_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(l)
yTitle	   = Events 

[all/hall_leadlep_Pt]
binning    =[-1,20]
sortSToL   = false
lowValue   = 30
xTitle	   = p_{T}(l)
yTitle	   = Events / 20 GeV

[all/hall_leadlep_Eta]
binning    = [10,0.5]
sortSToL   = false
lowValue   = 0
xTitle	   = #eta(l)
yTitle	   = Events 

[all/hall_trilep_Zepp]
binning    =  [-1, 0.1]
sortSToL   = false
xTitle	   = Zeppenfeld(3l) [GeV]


# [all/hall_vbsjet_DEta]
# binning    = [-1,0.25]
# sortSToL   = false
# xTitle	   = #Delta#eta(j_{1}, j_{2}) 


# [all/hall_leadjet_Pt]
# binning    =  [-1,40]
# lowValue   =  30
# sortSToL   = false

# [all/hall_leadjet_Eta]
# binning    =  [-1,1]
# sortSToL   = false


# [all/hall_met]
# binning    =[-1,20]
# sortSToL   = false


