[General]
Colors = [600, 432, 23, 800, 632, 391, 406, 892, 616]


[hno_vbsjet_DEta]
binning    = [20,0.5]
sortSToL   = true

[hno_vbsjet_Mass]
binning    = [-1,50]

[hno_jet_Pt]
binning    = [-1,2]

[hno_jet_Eta]
binning    = [-1,0.1]

[hno_met]
binning    =[-1,2]



# [hno_lep_Pt	[-1,2]
# [hno_lep_Eta	[-1,0.1]
# [hno_leadjet_Pt	[-1,2]
# [hno_leadjet_Eta [-1,0.1]
# [hno_trilep_Mass [-1,50]
# [hno_trilep_Zepp [-1, 0.1]
