[General]
Colors         = [600, 432, 23, 800, 632, 391, 406, 892, 616]
LumiString     = 39.5 fb^{-1}
DrawLogo       = false
WriteExtraText = true

[hall_vbsjet_DEta]
binning    = [20,0.5]
sortSToL   = true

[hall_vbsjet_Mass]
binning    = [-1,250]

[hall_jet_Pt]
binning    = [-1,2]

[hall_jet_Eta]
binning    = [-1,0.1]

[hall_met]
binning    =[-1,2]

[hall_vbsjet_DEta]
binning    = [20,0.5]
sortSToL   = true

[hall_Z_Mass]
binning    =[-1,2]

[hall_leadlep_Pt]
binning    =[-1,25]
sortSToL   = true

# [hall_lep_Pt	[-1,2]
# [hall_lep_Eta	[-1,0.1]
# [hall_leadjet_Pt	[-1,2]
# [hall_leadjet_Eta [-1,0.1]
# [hall_trilep_Mass [-1,50]
# [hall_trilep_Zepp [-1, 0.1]
