luminosity 35870
output     output.root
style      test.config

files/DY_2Jet.root	DY.root		  384		1  bg  

files/WZ_2Jet.root	WZ-QCD.root       0.2792           1 bg
files/WZ_1Jet.root     WZ-QCD.root        0.933		 1 bg
files/WZ_0Jet.root     WZ-QCD.root        3.146		 1 bg

files/WZ_EWK.root       WZ-EWK.root        0.0069706     1  sig

files/WWW.root       VVV.root        0.2362        1  bg
files/WWZ.root       VVV.root        0.1889	   1  bg
files/WZZ.root       VVV.root        0.06376	   1  bg
files/ZZZ.root       VVV.root        0.0158	   1  bg

#files/ZZ_4L.root     ZZ.root

files/TTW.root 	t#bar{t}V.root	   0.2253	 1  bg
files/TTZ.root 	t#bar{t}V.root	   0.07152	 1  bg

files/TTbar.root	t#bar{t}.root	   67.75	 1  bg

# files/ST_tch_top.root	Single-t.root	   864.5	 1  bg
# files/ST_tch_anti.root	Single-t.root	   142.2	 1  bg


