luminosity 35870
output     output.root
style      test.config

files/WZ_2Jets.root	WZ-QCD.root        0.2           1 bg
files/WZ_1Jets.root     WZ-QCD.root        0.344         1 bg
files/WZ_0Jets.root     WZ-QCD.root        0.4		 1 bg

files/WZ_EWK.root       WZ-EWK.root        0.0069706     1  sig

files/TTZJets.root 	t#bar{t}V.root	   0.07152	 1  bg

#files/TTbar.root	t#bar{t}.root	   864.4	 1  bg

files/ZG.root		Z#gamma.root	   145.2	 1  bg
