luminosity 35870
output     all_cuts.root
style      three_top_test.config


files/TTHH.root	       TTXX.root          0.000757   1 bg
#files/TTZH.root        TTXX.root   	  0.001535   1 bg
files/TTZZ.root        TTXX.root    	  0.001982  1 bg
files/TTWZ.root        TTXX.root          0.003884  1 bg
files/TTWH.root        TTXX.root          0.001582  1 bg
files/TTWW.root        TTXX.root          0.01150  1 bg
files/TTTT.root        TTTT.root          0.0092   1 bg

files/TTTW.root        TTT.root          0.000788  1 sig
files/TTTJ.root        TTT.root          0.000474  1 sig


files/WZG.root        	VVV.root        0.04123	   1  bg
files/WWG.root        	VVV.root        0.2147	   1  bg
files/WWW.root        	VVV.root        0.2086	   1  bg
files/WWZ.root 		VVV.root        0.1651	   1  bg
files/WZZ.root       	VVV.root        0.05565	   1  bg
files/ZZZ.root       	VVV.root        0.01398	   1  bg


