luminosity 35870
output     tV_bin.root
style      all_Kenneth.config


files/ST_tW_top.root	tV.root	  45.06		   1  bg
files/ST_tW_anti.root	tV.root	  45.02	    	   1  bg
files/tZq.root		tV.root	   0.85		   1  bg
files/WWW.root        	VVV.root        0.2362	   1  bg
files/WWZ.root 		VVV.root        0.1889	   1  bg
files/WZZ.root       	VVV.root        0.06376	   1  bg
files/ZZZ.root       	VVV.root        0.0158	   1  bg
files/TTW.root 	        TTV.root	   0.2253	 1  bg
files/TTZ.root 	        TTV.root	   0.07152	 1  bg

