luminosity 35870
output     WZ_only.root
style      inclusive_Kenneth.config


files/WZ_2Jet.root     WZ-2Jet.root       0.2792          1 bg
files/WZ_1Jet.root     WZ-1Jet.root        0.933	   1 bg
files/WZ_0Jet.root     WZ-0Jet.root        3.146	   1 bg

files/WZ_2Jet.root     WZ-2Jet_sig.root       0.2792          1 sig
files/WZ_1Jet.root     WZ-1Jet_sig.root        0.933	   1 sig
files/WZ_0Jet.root     WZ-0Jet_sig.root        3.146	   1 sig


