luminosity 35870
output     Polarization.root
style      all_Kenneth.config


files/TT.root      WZ_noLL.root         0.0069706       1  bg
files/LT.root      WZ_noLL.root         0.0069706       1  bg

files/LL.root      WZ_LL.root         0.0069706       1  sig

files/WZ_2Jet.root     WZ-QCD.root       0.062   1 bg #0.2792          1 bg
files/WZ_1Jet.root     WZ-QCD.root       0.207  1  bg # 0.933	   1 bg
files/WZ_0Jet.root     WZ-QCD.root        0.692472   1 bg# 3.146	   1 bg

files/ST_tW_top.root	tV-VVV.root	  45.06		   1  bg
files/ST_tW_anti.root	tV-VVV.root	  45.02	    	   1  bg
files/tZq.root		tV-VVV.root	   0.85		   1  bg
files/WWW.root        	tV-VVV.root        0.2362	   1  bg
files/WWZ.root 		tV-VVV.root        0.1889	   1  bg
files/WZZ.root       	tV-VVV.root        0.06376	   1  bg
files/ZZZ.root       	tV-VVV.root        0.0158	   1  bg

files/ZZ_4L.root             VV.root	   1.357	   1  bg
files/WW.root		     VV.root	   3.423	   1  bg

files/TTW.root 	        Nonprompt.root	   0.2253	 1  bg
files/TTZ.root 	        Nonprompt.root	   0.07152	 1  bg
files/TTbar.root	Nonprompt.root	  67.75		 1  bg
files/ST_tch_top.root	Nonprompt.root	 864.5	 	 1  bg
files/ST_tch_anti.root	Nonprompt.root	 142.2	 	 1  bg
files/ST_sch.root	Nonprompt.root	  11.14	 	 1  bg
files/DY_2Jet.root	Nonprompt.root	 384		 1  bg  

files/ZG.root		Z#gamma.root	   145.2	 1  bg
